<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="carnetos.usbmedia"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name="carnetos.usbservice.application.AllUsbMediaApplication"
        android:allowBackup="true"
        android:persistent="true" >
        <activity android:name="carnetos.usbservice.main.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="carnetos.usbservice.db.UsbProvider"
            android:authorities="carnetos.usbservice.provider"
            android:exported="true" >
        </provider>

        <service
            android:name="carnetos.usbservice.aidl.UsbService"
            android:exported="true"
            android:priority="1000" >
            <intent-filter>
                <action android:name="carnetos.usbservice.AIDL_SERVICE" />
            </intent-filter>
        </service>

        <receiver android:name="carnetos.usbservice.main.UsbReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>